---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import ContactUs from "../components/ContactUs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <html lang="es">
        <head>
            <meta charset="UTF-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />
            <title>Contact Us</title>
        </head>
        <body>
            <Navbar />
            <ContactUs />
        </body>
    </html>
</Layout>
